/* general */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
	--color-dark-color: #141922;
	--color-dark-grey: #282828;
	--color-black: #000000;
	--color-white: #FFFFFF;
	--color-grey: #717171;
	--color-light-grey: #C1C1C1;
	--color-highlight: #ADFF2F;
}

body{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.8em;
}
img{
    display: block;
    width: 100%;
}
/* utility */
.d-flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.wrap{
    flex-wrap: wrap;
}
.align-center{
    align-items: center;
    align-content: center;
}
ul{
    list-style: none;
    text-transform: uppercase;
    color: var(--color-grey);
    font-weight: 700;
}
li{
    padding: 0 15px;
    cursor: pointer;
}
a{
    text-decoration: none;
}
/* body */

.wrapper{
    width: 100%;
    height: 100vh;
}
main{
    width: 100%;
    height: calc(100% - 200px);
}
#call-to-action{
    width:calc(100% - 400px);
    height: 200px;
    position: fixed;
    top:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.6);
}
#update-btn{
    border: 1px solid white;
    color: white;
    padding: 30px 90px;  
    position:absolute;
    right: 15px;
    top: 40px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.2em;
    border-radius: 100px;
}
.navbar{
    max-width: 1500px;
    margin: 0 auto;;
}
/* main-section */
#main-content{
    width:calc(100% - 400px);
    overflow-y: auto;
    background-color: var(--color-dark-color);
    padding-top: 250px;
}
.album{
    padding: 100px 50px;
}
.album-title{
    font-size: 1.5em;
    margin-bottom: 50px;
}
.card{
    width: calc(100% / 6);   
    height: ; 
}
.card-description{
    text-align:center;
}
h4{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1.5em;
}
.card-container{

}
/* sidebar */
#sidebar{
    width:400px;
    height:100%;
    background-color:var(--color-black);
}

/* playbar */
.playbar{
    position: fixed;
    bottom:0;
    left:0;
    height:200px;
    width: 100%;
    z-index: 1000;
    background-color: var(--color-dark-grey);
}
